* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    padding: 10px;

    background-color: #FAFAFA;
    color: #555;
}

a {
    color: #222;
}

a:hover {
    color: #EC5840;
}

/* Tema escuro */

body.dark-mode {
    background-color: #212529;
    color: #899095;
}

.dark-mode a {
    color: #DEE2E6;
}

.dark-mode a:hover {
    color: #3CC368;
}